<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Login App</h1>
    <p>Please <a href="/login">log in</a> to access your account.</p>
  </body>
  </body>
</html>
